body {
  margin: 0;
  background: black;
  overflow: hidden;
}

html {
  overflow: hidden;
}

#debug {
  position: fixed;
  top: 0;
  right: 0;
  color: #0ff;
  font-family: monospace;
  background: rgba(0,0,0,0.6);
  padding: 6px;
  white-space: pre;
  backdrop-filter: blur(4px);  /* glass effect */
}

.overlay {
  position: absolute;
  top: 50px;
  left: 50px;
  width: 600px;
  height: 200px;
  background: rgba(0,255,255,0.1);
  border: 2px solid #0ff;
  backdrop-filter: blur(2px);
  border-radius: 8px;
}
